
footer {
    width: 100%;
    background: #111;
    /* margin-top: 1.5rem; */
    place-content: center;
}
ul {
    font-size: 16px;
    color: aliceblue;
   
}
ul , li {
    list-style-type: none;
    line-height: 25px;
    color: #424242;
}

a
{
    color: white;
}

a{
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: row ;
}

footer {
    flex-shrink: 0;
    flex-wrap: wrap;
}

footer div {
    margin: 20px;
}