.games {
   
    text-align: center;
    
}

.inner_games {
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
    flex-wrap: wrap;
}

.inner_games div {
    
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    margin : 10px;
    align-items: center;
   
}
.games h2 {
    font-size: 45px;
}
.inner_games div h4 {
    font-size: 26px;
}

.games button {
    background-color: #4992ca;
    border: 2px solid #4992ca;
    border-radius: 2px;
    font-size: 16px;
    padding: 15px;
    padding-left: 65px;
    padding-right: 65px;
    color: white;
    cursor: pointer;
}