.home {	
	background: url(overlay.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.overlayeffect {
  background-color: #000000b3;
  padding: 50px;
  padding-top: 5px;
}

.home h1 {

	color: white;

}

.home h3 {

	color: white;

}

.home button {
	margin: 15px;
	padding: 10px;

}

.btn {
	display: flex;
  flex-direction: column;
}

.apply {
  background-color: #4992ca;
  color: #fff;
  border: none;
  padding: 10px; 
  height: 50px;
  width: 200px;
}

.register {
  background-color: #ffffff00;
  color: #fff;
  height: 60px;
  border: 2px solid white;
  width: 200px;
}

.learn {
  border-radius: 15px;
  max-width: 400px;
}
.learn:visited {
  outline: none;
}
